<!DOCTYPE html>
<html>
	<head>
		<title>Windowpane Synthesizer</title>
		<script src="scripts/jquery-1.6.2.min.js"></script>
		<script src="scripts/gui.js"></script>
		<script src="scripts/synth.js"></script>
	</head>
	<body>
		<button id="play">Play</button>
	</body>
</html>
